@import "tailwindcss";

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(16, 185, 129, 0.3);
    border-radius: 0px;
  }
}

@keyframes dash-flow {
  to {
    stroke-dashoffset: -20;
  }
}

.animate-dash-flow {
  animation: dash-flow 1s linear infinite;
}
